<!--page content-->
<section class="login_bg">
	<div style="background:rgba(36, 35, 35, 0.62); height:100%">
	<div class="container">
		<div class="text-center" style="text-shadow: 1px 1px 3px #333;color:#f4e373; margin-top:20px;  letter-spacing:12px"><h1 style="font-size:35px;">
			<b style="    border: 2px solid #ccc; color:#fff; padding:5px">SALES CRM</b></h1></div>
		<div class="loginPanel" ng-controller="registrationCtrl">
			<div class="loginPanelHeader">
				New User Registration
			</div>
			<form method="post">
			<div class="loginPanelBody">
				<p style="margin-bottom:15px" class="text-center">Lorem Ipsum write here...</p>
				<p class="alertmsg" ng-show="showalert">{{alertMsg}}</p>
				<div class="form-group">
					<input type="text" class="form-control" placeholder="Name" name="name" ng-model="new.name" />
					<i class="fa fa-user"></i>
				</div>
				<div class="form-group">
					<input type="text" class="form-control" placeholder="Email Id" name="email" ng-model="new.email" />
					<i class="fa fa-envelope-o"></i>
				</div>
				<div class="form-group">
					<input type="password" class="form-control" placeholder="Password" name="password" ng-model="new.password" />
					<i class="fa fa-key"></i> 
				</div>
				<div class="form-group">
					<input type="password" class="form-control" placeholder="Confirm Password"  name="cpassword" ng-model="new.cpassword"/>
					<i class="fa fa-key"></i> 
				</div>
				<div class="margin30 text-center" style="margin-bottom:10px">Lorem ipsum is mostly a part of a Latin text by the part of a Latin text by the <a href="#/" style="color:#27bef1">Login</a></div>
			</div>
		</form>
			<div class="loginPanelFooter">
				<div class="pull-right"><button class="btn btn-primary sc_loginBtn" ng-click="register()">Register <i class="fa fa-unlock"></i></button></div>
			</div>
		</div>
	</div>
</div>
</section>
<style>
#header, .footer{display:none;}
</style>